.form-group {
  margin-top:15px;
  margin-bottom:15px;
  display:flex;
}

#search-for-links-input {
  border-radius:4px 0px 0px 4px;
}

.btn.btn-default {
  color:#ffffff;
  background-color:#27405e;
  background-image:linear-gradient(to bottom, #27405e, #27405e);
  border-color:#27405e #27405e #27405e;
  border-radius:0px 4px 4px 0px;
  margin-bottom:-1px;
  margin-top:-1px;
}

.btn.btn-default:hover {
  color:#ffffff;
  background-color:#27405e;
  background-image:linear-gradient(to bottom, #27405e, #27405e);
  border-color:#27405e #27405e #27405e;
  border-radius:0px 4px 4px 0px;
}

